<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="IoTHubUri" value="xxxx-xxxx" />
    <add key="IoTHubConnectionString" value="HostName=xxxx-xxxx;SharedAccessKeyName=xxxx-xxxx;SharedAccessKey=xxxx-xxxx" />
    <add key="DefaultMessageDelayInMilliSeconds" value="2000" />
    <add key="MessagesRollingWindowSize" value="50" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>